<h1>User info</h1>
  
  <%#= image_tag book.image, size: "100x100" %>
  <h5>name</h5>
  <%#= user.name %>
  <h5>introduction</h5>
  <%#= user.introduction %>
  <%#= link_to "", edit_user_path(@user.id) %>